<div class="container" id="container">
    <div class="row justify-content-center">
        <div class="card mb-2 wow fadeIn">
            <div class="card-header font-weight-bold">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h1-responsive font-weight-bold text-white text-center pt-2">LOGIN</h1>
                    </div>
                </div>
            </div>
            <form id="login" action="/login" method="POST" class=" login text-center border border-light p-4">
                <p class="h4 mb-4" id="loginHeading">Toddler Town</p>
                <input type="email" name="email" id="email-input" class="form-control mb-4" placeholder="E-mail" required>
                <input type="password" name="password" id="password-input" class="form-control mb-4" placeholder="Password"
                    required>
                <button class="btn btn-light black-text my-4" name="action" type="submit" id="log_in_btn">Log In</button>
                <p class="white-text">Not a member?
                    <a href="/" id="here">Sign Up</a>
                </p>
            </form>
        </div>
    </div>
</div>